<app-modal-popup
    [buttonsPosition]="'flex-end'"
    [heading]="'Add file'"
    [subheading]="'Choose your file to add'"
    [secondaryButtonText]="'Cancle'"
    [primaryButtonText]="'Upload'"
    (clickedOnCloseButton)="destroySelf()"
    (clickedOnSecondaryButton)="destroySelf()"
    (clickedOnPrimaryButton)="onClickUploadButton()">
    <ng-template #mainContent>
        <div class="main_content">
            <label class="add_file">
                <input type="file" (change)="fileSelected($event)">
                <ng-container *ngIf="!file">
                    <svg class="upload_icon">
                        <use xlink:href="assets/images/svg/common-sprite.svg#upload-icon"></use>
                    </svg>
                    <span> Browse CSV file </span>
                    <span> or </span>
                    <span> Drag & Drop CSV file </span>
                </ng-container>
                <ng-container *ngIf="file">
                    <span class="file_name"> {{ file?.target?.files[0].name }} </span>
                </ng-container>
            </label>
            <div class="ultra_secure_file">
                <span> Ultra secure your file? </span>
                <label>
                    <input type="checkbox" (change)="checkboxToggle($event)" [disabled]="file ? false : true">
                    <div class="bg">
                        <div class="circle">
                            <svg>
                                <use xlink:href="assets/images/svg/common-sprite.svg#besafe-shield-icon"></use>
                            </svg>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </ng-template>
</app-modal-popup>
