<div class="my_files" tabindex="-1" [id]="fileSystemOperationContainerId" #fileSystemOperationContainer>
    <div class="header">
        <div class="header_title"> All files </div>
        <div class="actions">
            <app-button
                [buttonDisplayType]="'secondary'" [buttonFunctionalityType]="'button'"
                [isDisabled]="false"
                [imgSrc]="'assets/images/svg/common-sprite.svg#' + (viewType === 'grid' ? 'list' : 'grid') + '-view-icon'"
                (clicked)="toggleViewType()">
            </app-button>
            <app-button
                [buttonDisplayType]="'primary'" [buttonFunctionalityType]="'button'"
                [title]="'Add files'" [isDisabled]="false"
                [imgSrc]="'assets/images/svg/common-sprite.svg#grid-view-icon'"
                (clicked)="openAddFileModalPopup()">
            </app-button>
        </div>
    </div>
    <ul [ngClass]="viewType + '_view'"
        appFileSystemOperations
        [viewType]="viewType"
        [fileCollection]="allFiles"
        [prefix]="fileIdPrefix"
        #operationResult="operationResult"
        (contextmenu)="openContextMenu($event)">
        <ng-container *ngFor="let file of allFiles">
            <li class="file_card_container" [id]="fileIdPrefix + file.id"
                [ngClass]="{'selected': operationResult.isSelected(file.id),
                                    'focused': operationResult.isLastFocused(file.id)}"
                [title]="file.name">
                <div class="stop_pointer_events">
                    <app-file-card [viewType]="viewType" [fileName]="file.name"></app-file-card>
                </div>
            </li>
        </ng-container>
    </ul>
</div>
