<div class="full_container">
    <div class="left_section">
        <!-- <div class="app_logo">
            <app-logo></app-logo>
        </div> -->
        <div class="intro">
            <div class="title">
                BeSafe
            </div>
            <div class="description">
                Encrypt, Defend, and be assured, your  data's <br> future is always secured.
            </div>
        </div>
    </div>
    <div class="right_section">
        <router-outlet></router-outlet>
    </div>
</div>
