@import "src/app/auth/_shared/scss/mixin";

.full_container {
    width: 100vw;
    height: 100vh;
    // background: url("/assets/images/svg/auth-background-image.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: #121212;
    display: flex;
    .left_section {
        width: 50%;
        // background-color: red;
        @include flex(center, flex-start);
        .app_logo {
            @include dev_border();
            width: max-content;
            height: max-content;
            background-color: $brandSecondaryColor;
            padding: 1rem;
            border-radius: 1rem;
            margin-top: 2rem;
        }
        
        .intro{
            // border: 1px solid red;
            margin-top: 27vh;
            .title{
                font-size: 8rem;
                color: $brandSecondaryColor;
            }
            .description{
                font-size: 2rem;
                color: $brandPrimaryColor;
                margin-left: 0.5rem;

            }
        }
        
    }
    .right_section {
        width: 50%;
        @include flex(center, center);
    }
}
