<div class="full_container">
    <div class="left_section">
        <!-- <div class="app_logo">
            <app-logo></app-logo>
        </div> -->
        <div class="intro">
            <div class="title">
                <span class="be">Be</span>
                <span class="safe">Safe</span>
            </div>
            <div class="description"> Blockchain and Encryption for Secure Access to files and Electronic Data </div>
        </div>
    </div>
    <div class="right_section">
        <router-outlet></router-outlet>
    </div>
</div>
