<div class="loading_messenger">
    <div class="loader">
        <!-- <div class="box"></div> -->
        <div class="loader_area">
            <div class="loader_track">
                <div class="center center1"><div class="circle circle_primary_color"></div></div>
                <div class="center center2"><div class="circle circle_primary_color"></div></div>
                <div class="center center3"><div class="circle circle_primary_color"></div></div>
                <div class="center center4"><div class="circle circle_primary_color"></div></div>
                <div class="center center5"><div class="circle circle_primary_color"></div></div>
                <div class="center center6"><div class="circle circle_primary_color"></div></div>
                <div class="center center7"><div class="circle circle_primary_color"></div></div>
                <div class="center center8"><div class="circle circle_primary_color"></div></div>
                <div class="center center9"><div class="circle circle_primary_color"></div></div>
                <div class="center center10"><div class="circle circle_primary_color"></div></div>
                <div class="center center11"><div class="circle circle_primary_color"></div></div>
                <div class="center center12"><div class="circle circle_primary_color"></div></div>
                <!-- s -->
                <div class="center center1"><div class="circle circle_secondary_color"></div></div>
                <div class="center center2"><div class="circle circle_secondary_color"></div></div>
                <div class="center center3"><div class="circle circle_secondary_color"></div></div>
                <div class="center center4"><div class="circle circle_secondary_color"></div></div>
                <div class="center center5"><div class="circle circle_secondary_color"></div></div>
                <div class="center center6"><div class="circle circle_secondary_color"></div></div>
                <div class="center center7"><div class="circle circle_secondary_color"></div></div>
                <div class="center center8"><div class="circle circle_secondary_color"></div></div>
                <div class="center center9"><div class="circle circle_secondary_color"></div></div>
                <div class="center center10"><div class="circle circle_secondary_color"></div></div>
                <div class="center center11"><div class="circle circle_secondary_color"></div></div>
                <div class="center center12"><div class="circle circle_secondary_color"></div></div>
            </div>
        </div>
    </div>
    <div class="message" *ngIf="loadingMessage!==null">
        {{ loadingMessage }}
    </div>
</div>
