@import "src/app/_shared/scss/mixin";

@keyframes button_loader {
    0% {
        $size: 0.3rem;
        width: $size;
        height: $size;
    }
    50% {
        $size: 0.6rem;
        width: $size;
        height: $size;
    }
    100% {
        $size: 0.3rem;
        width: $size;
        height: $size;
    }
}

.bs_button {
    width: max-content;
    height: max-content;
    padding: 0.4rem 0.6rem;
    background-color: transparent;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    outline: none;
    @include flex(center, center);
    gap: 0.4rem;
    user-select: none;
    -webkit-user-drag: none;
    position: relative;
    cursor: pointer;
    .icon {
        $size: 1.5rem;
        width: $size;
        height: $size;
    }
    .title {
        font-size: 1rem;
    }
    .loader {
        width: 2.3rem;
        height: 1.5rem;
        @include flex(center, center);
        gap: 0.2rem;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        .circle {
            $size: 0.6rem;
            width: $size;
            height: $size;
            border-radius: 50%;
            $animationDuration: 1000ms;
            animation: button_loader $animationDuration ease-in-out infinite;
            &:nth-child(1) {
                animation-delay: 0ms;
            }
            &:nth-child(2) {
                animation-delay: $animationDuration / 2;
            }
            &:nth-child(3) {
                animation-delay: 0ms;
            }
        }
    }
    &.disabled {
        pointer-events: none;
    }
}

.bs_button.primary {
    background-color: $brandPrimaryColor;
    .icon {
        fill: $whiteColor;
    }
    .title {
        color: $whiteColor;
    }
    .loader {
        .circle {
            background-color: $whiteColor;
        }
    }
    // &:hover {
    // }
    &:active {
        // background-color: $brandSecondaryColor;
        filter: brightness(80%);
    }
    &.disabled {
        background: $darkGrayOneColor;
        filter: brightness(250%);
        .icon,
        .title {
            filter: brightness(250%);
        }
        .icon {
            fill: $blackColor;
        }
        .title {
            color: $blackColor;
        }
    }
}

.bs_button.secondary {
    border-color: $brandPrimaryColor;
    .icon {
        fill: $brandPrimaryColor;
    }
    .title {
        color: $brandPrimaryColor;
    }
    .loader {
        .circle {
            background-color: $brandPrimaryColor;
        }
    }
    // &:hover {
    // }
    &:active {
        background-color: $tintThreeColor;
    }
    &.disabled {
        border-color: $darkGrayOneColor;
        filter: brightness(250%);
        .icon {
            fill: $darkGrayOneColor;
        }
        .title {
            color: $darkGrayOneColor;
        }
    }
}

.bs_button.tertiary {
    box-shadow: none;
    border-color: transparent;
    .icon {
        fill: $brandPrimaryColor;
    }
    .title {
        color: $brandPrimaryColor;
    }
    .loader {
        .circle {
            background-color: $brandPrimaryColor;
        }
    }
    &:hover {
        background-color: $tintThreeColor;
    }
    &:active {
        filter: brightness(150%);
    }
    &.disabled {
        filter: brightness(250%);
        .loader {
            .circle {
                background-color: $darkGrayOneColor;
            }
        }
        .icon {
            fill: $darkGrayOneColor;
        }
        .title {
            color: $darkGrayOneColor;
        }
    }
}
