<ul class="context_menu" [ngStyle]="{'top': top + 'px', 'left': left + 'px'}"
    (contextmenu)="$event.preventDefault()"
    appClickedOutside
    (clickedOutside)="selfRef.destroy()">
    <ng-container *ngFor="let option of options">
        <li *ngIf="shouldBeVisible(option.isForSingle)" (click)="contextMenuClickHandler(option.name)">
            <!-- <img [src]="'assets/images/svg/file-system-context-menu/' + option.svgImgName + '.svg'" alt=""> -->
            <span> {{ option.name }} </span>
        </li>
    </ng-container>
</ul>
