<div class="layout">
    <div class="navbar_conatainer">
        <app-navbar></app-navbar>
    </div>
    <div class="main_container">
        <div class="sidebar_container">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main_content_container">
            <div class="sub_options">
                <div class="search_container">
                    <input class="input_field" type="text" placeholder="Search your files in ">
                </div>
                <div class="view">
                    <img src="assets/images/svg/list-view-icon.svg" alt="">
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
