@import "src/app/layout/_shared/scss/mixin";

.sidebar {
    // @include dev_border();s
    // width: max-content;
    height: 100%;
    background-color: $brandPrimaryColor;
    // padding-top: 1rem;
    padding-right: 2rem;
    // border-top-right-radius: 4rem;
    .sidebar_menu {
        // @include dev_border();
        .option {
            list-style: none;
            > a {
                display: block;
                text-decoration: none;
                padding: 1rem 1rem;
                border-top-right-radius: 5rem;
                border-bottom-right-radius: 5rem;
                font-size: 1rem;
                color: white;
                &:hover {
                    background-color: $brandSecondaryColor;
                }
                &.selected {
                    background-color: darken($color: $brandPrimaryColor, $amount: 10%);
                }
            }
        }
    }
}
