@import "src/app/layout/_shared/scss/mixin";

.sidebar {
    // @include dev_border();
    height: 100%;
    background-color: $bgTwoColor;
    transition: background-color 300ms;
    border-right: 0.5px solid #dbdbdb;
    .sidebar_menu {
        .option {
            list-style: none;
            > a {
                padding: 0.8rem 0;
                text-decoration: none;
                @include flex(flex-start, center);
                .icon {
                    $size: 2rem;
                    width: $size;
                    height: $size;
                    margin: 0 0.8rem;
                    fill: $textColor;
                }
                > span {
                    padding-right: 2.5rem;
                    color: $textColor;
                    font-size: 1rem;
                }
                &:hover {
                    background-color: $brandSecondaryColor;
                    .icon {
                        fill: black;
                    }
                    > span {
                        color: black;
                    }
                }
                &.selected {
                    background-color: $brandPrimaryColor;
                    &[data-theme="light"] {
                        .icon {
                            fill: white;
                        }
                        > span {
                            color: white;
                        }
                    }
                    &[data-theme="dark"] {
                        .icon {
                            fill: black;
                        }
                        > span {
                            color: black;
                        }
                    }
                }
            }
        }
    }
    &.collapsed {
        .sidebar_menu {
            .option {
                > a {
                    > span {
                        display: none;
                    }
                }
            }
        }
    }
}
