$brandPrimaryColor: #063146;
$brandSecondaryColor: #05415e;
$brandPrimaryColor: #405fec; // remove later
$brandSecondaryColor: #497fef; // remove later

$tintOneColor: #7aa2f3;
$tintTwoColor: #abc1f8;
$tintThreeColor: #e8ecfd;

$grayColor: #919191;
$darkGrayColor: #454545;
$whiteColor: #f0f0f0;
$blackColor: #0f0f0f;

$errorColor: #ff1e1e;

// temp code below:
// $primaryOneColor: #4359f6;
// $primaryTwoColor: #405fec;
// $secondaryColor: #497fef;
// $tintOneColor: #7aa2f3;
// $tintTwoColor: #abc1f8;
// $tintThreeColor: #e8ecfd;

// temp code below:
// $brand_primary_color: #005776;
// $brand_secondary_color: #6dd5fa;
