<div class="signin_container">
    <div class="heading"> Sign in to be safe </div>
    <form class="signin_form">
        <div class="email">
            <label class="input_field_label">
                <input class="input_field" type="text" placeholder="&nbsp;">
                <div class="title">E-mail</div>
                <svg class="icon">
                    <use xlink:href="assets/images/svg/common-sprite.svg#email-icon"></use>
                </svg>
            </label>
            <div class="invalid_message">Required</div>
        </div>
        <div class="password">
            <label class="input_field_label">
                <input class="input_field" type="password" placeholder="&nbsp;">
                <div class="title">Password</div>
                <svg class="icon">
                    <use xlink:href="assets/images/svg/common-sprite.svg#password-icon"></use>
                </svg>
            </label>
            <div class="invalid_message">Required</div>
        </div>
        <div class="button_container">
            <app-button
                [buttonDisplayType]="'primary'" [buttonFunctionalityType]="'submit'"
                [title]="'Sign in'" [isDisabled]="false"
                (clicked)="temp()">
            </app-button>
        </div>
        <div class="do_not_have_an_account">
            <span> Don't have an account? </span>
            <a routerLink="/auth/signup"> Sign up </a>
        </div>
    </form>
</div>
