@import "src/app/layout/_shared/scss/mixin";

.navbar {
    // @include dev_border(2px, red);
    padding: 0 0.8rem;
    height: 100%;
    background-color: $bgTwoColor;
    border-bottom: 0.5px solid #dbdbdb;
    transition: background-color 300ms;
    @include flex(space-between, center);
    .app_logo_and_hamburger {
        @include flex(center, center);
        gap: 2rem;
        .app_logo_container {
            width: max-content;
            height: max-content;
        }
        .hamburger_button {
            width: 2.2rem;
            height: 2.2rem;
            padding: 0.1rem;
            background: none;
            border-radius: 0.4rem;
            border: 1.5px solid $brandPrimaryColor;
            @include flex(center, center);
            cursor: pointer;
            > svg {
                $size: 1.5rem;
                width: $size;
                height: $size;
                fill: $brandPrimaryColor;
            }
            &:active {
                opacity: 0.5;
            }
        }
    }
    .searchbar {
        width: 30rem;
        height: 2.2rem;
        padding: 0 0.3rem;
        // margin: 0 auto;
        border-radius: 0.5rem;
        border: 1px solid $lightGrayOneColor;
        outline: 1px solid transparent;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        .search_icon,
        .clear_icon {
            // @include dev_border();
            $size: 1.5rem;
            width: $size;
            height: $size;
            flex-shrink: 0;
            fill: $lightGrayOneColor;
        }
        > input {
            width: 100%;
            height: 1.5rem;
            border: none;
            outline: none;
            background: none;
            color: $lightGrayOneColor;
            // @include dev_border();
        }
        &:focus-within {
            border-color: $brandPrimaryColor;
            outline-color: $brandPrimaryColor;
            .icon {
                fill: $textColor;
            }
            > input {
                color: $textColor;
            }
        }
    }
    .right_section {
        // margin-left: auto;
        @include flex(space-between, center);
        gap: 0.8rem;
    }
}
