<div class="navbar">
    <div class="app_logo_and_hamburger">
        <div class="app_logo_container">
            <app-logo></app-logo>
        </div>
        <button class="hamburger_button" (click)="toggleCollapseSidebar()">
            <svg>
                <use xlink:href="assets/images/svg/common-sprite.svg#hamburger-icon"></use>
            </svg>
        </button>
    </div>
    <div class="searchbar_container">
        <app-searchbar></app-searchbar>
    </div>
    <div class="right_section">
        <!-- <app-button [buttonDisplayType]="'tertiary'" [buttonFunctionalityType]="'button'"
            [title]="'Refresh google'"
            (clicked)="refreshGoogle()"></app-button> -->
        <!-- <app-icon-button [title]="'Switch to ' + (themeService.theme === 'light' ? 'dark' : 'light') + ' mode'"
            [imgSrc]="'assets/images/svg/common-sprite.svg#' + (themeService.theme === 'light' ? 'light' : 'dark') + '-mode-icon'"
            (clicked)="'()'"></app-icon-button> -->
        <app-icon-button [title]="'Switch to ' + (themeService.theme === 'light' ? 'dark' : 'light') + ' mode'"
            [imgSrc]="'assets/images/svg/common-sprite.svg#' + (themeService.theme === 'light' ? 'light' : 'dark') + '-mode-icon'"
            (clicked)="themeService.changeTheme()"></app-icon-button>
        <app-icon-button [title]="'Connect Google cloud'" [imgSrc]="'assets/images/svg/common-sprite.svg#connect-cloud-icon'"
            (clicked)="connectGoogleCloud()"></app-icon-button>
        <app-icon-button [title]="'Sign out'" [imgSrc]="'assets/images/svg/common-sprite.svg#logout-icon'"
            [isDisabled]="isSigningOut" [isLoading]="isSigningOut"
            (clicked)="signOut()"></app-icon-button>
    </div>
</div>
