<div class="navbar">
    <div class="app_logo_and_hamburger">
        <div class="app_logo_container">
            <app-logo></app-logo>
        </div>
        <button class="hamburger_button" (click)="toggleCollapseSidebar()">
            <svg>
                <use xlink:href="assets/images/svg/common-sprite.svg#hamburger-icon"></use>
            </svg>
        </button>
    </div>
    <app-button [buttonDisplayType]="'tertiary'" [buttonFunctionalityType]="'button'"
        [title]="'Sign out'" [imgSrc]="'assets/images/svg/common-sprite.svg#logout-icon'"
        (clicked)="signOut()"></app-button>
    <!-- <button (click)="add()"> Add File</button> -->
    <!-- <button (click)="up()">Update File</button> -->
    <!-- <button (click)="de()">Delete</button> -->
    <!-- <button (click)="get()">Get File</button> -->
</div>
