<div class="navbar">
    <div class="app_logo_and_hamburger">
        <div class="app_logo_container">
            <app-logo></app-logo>
        </div>
        <button class="hamburger_button" (click)="toggleCollapseSidebar()">
            <svg>
                <use xlink:href="assets/images/svg/common-sprite.svg#hamburger-icon"></use>
            </svg>
        </button>
    </div>
    <label class="searchbar">
        <svg class="icon">
            <use xlink:href="assets/images/svg/common-sprite.svg#search-icon"></use>
        </svg>
        <input type="text" placeholder="Search for files...">
    </label>
    <div class="right_section">
        <button class="theme_toggle_button" [title]="'currentTheme === THEME.light' ? 'Switch to dark mode' : 'Switch to light mode'"
            (click)="switchTheme()">
            <div class="icon_container" [ngClass]="currentTheme ? 'light_position' : 'dark_position'">
                <svg class="dark_mode_icon" *ngIf="!currentTheme">
                    <use xlink:href="assets/images/svg/common-sprite.svg#dark-mode-icon"></use>
                </svg>
                <svg class="light_mode_icon" *ngIf="currentTheme">
                    <use xlink:href="assets/images/svg/common-sprite.svg#light-mode-icon"></use>
                </svg>
            </div>
        </button>
        <app-button [buttonDisplayType]="'tertiary'" [buttonFunctionalityType]="'button'"
            [title]="'Refresh google'"
            (clicked)="refreshGoogle()"></app-button>
        <app-button [buttonDisplayType]="'tertiary'" [buttonFunctionalityType]="'button'"
            [title]="'Sign out'" [imgSrc]="'assets/images/svg/common-sprite.svg#logout-icon'"
            [isDisabled]="isSigningOut" [isLoading]="isSigningOut"
            (clicked)="signOut()"></app-button>
    </div>
    <!-- <button (click)="add()"> Add File</button> -->
    <!-- <button (click)="up()">Update File</button> -->
    <!-- <button (click)="de()">Delete</button> -->
    <!-- <button (click)="get()">Get File</button> -->
</div>
