@import "src/app/layout/_shared/scss/mixin";

.navbar {
    // @include dev_border(2px, red);
    padding: 0 0.8rem;
    height: 100%;
    background-color: $bgTwoColor;
    border-bottom: 0.5px solid #dbdbdb;
    transition: background-color 300ms;
    @include flex(space-between, center);
    column-gap: 2.5rem;
    .app_logo_and_hamburger {
        @include flex(center, center);
        gap: 2rem;
        .app_logo_container {
            width: max-content;
            height: max-content;
        }
        .hamburger_button {
            width: 2.2rem;
            height: 2.2rem;
            padding: 0.1rem;
            background: none;
            border-radius: 0.4rem;
            border: 1.5px solid $brandPrimaryColor;
            @include flex(center, center);
            cursor: pointer;
            > svg {
                $size: 1.5rem;
                width: $size;
                height: $size;
                fill: $brandPrimaryColor;
            }
            &:active {
                opacity: 0.5;
            }
        }
    }
    .searchbar_container {
        // @include dev_border(1px, white);
        width: 100%;
        min-width: 15rem;
        max-width: 30rem;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .right_section {
        // margin-left: auto;
        @include flex(space-between, center);
        gap: 0.8rem;
    }
}
